
:root {

    --primary-color: #D07407;
    --primary-color-hover: #aa5f04;
    --secondary-color: #2d2b27;
    --secondary-color-hover: #776e64;
    --text-color: #000000;
    --primary-background-color: #ffffff;
    
    --ff: "Inter";
    
    --h1: bold 54px/64px var(--ff);
    --h2: bold 36px/36px var(--ff) ;
    --h3: bold 24px/30px var(--ff) ;
    --p: 18px/30px var(--ff)
    

}


/* nav bar  */

.hero{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)),  url(/images/main/test-main-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 16em 0;
    color: white;
}

.hero-subtitle{
    margin: 0.3em 0;
}

.hero-buttons{
    margin-top: 2em;
}
.hero-buttons a{
    margin: 0 0.2em;
}

.services{
    margin-top: 5em;
}
.services-subtitle{
    margin: 1em 0;
}
.services-list{
    display:flex; 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    margin: 5em 0;
}

.service-item{
    padding: 10em 5em;
    color: white;
    min-width: 200px;
}

.service-item:nth-child(1){
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)),url(/images/main/services-background-one.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
}
.service-item:nth-child(2){
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)),url(/images/main/services-background-two.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;

}
.service-item:nth-child(3){
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)),url(/images/main/services-background-three.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;

}

.service-item:nth-child(1):hover{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(/images/main/services-background-one.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.service-item:nth-child(2):hover{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(/images/main/services-background-two.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.service-item:nth-child(3):hover{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),url(/images/main/services-background-three.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.services-buttons{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
    gap: 1em;
}
.services-buttons >*{
    flex: 1;
}

/* Process */
.process{
    margin: 10em 0;
}
.process-steps{
    margin: 3em 0;
}
.process-content{
    text-align: left;
    /* padding-right: 8em; */
    /* padding-left: 5em; */
}
.process-step{
    margin: 1em 0;
}
.process p{
    padding-right: 2em;
}
.process .wrapper{
    display: flex;
    flex-direction: row;
    gap: 2em;
    flex-wrap:  wrap;
}

.process-content{
    flex:1; 
    min-width: 200px;
}
.process-image-container{
    flex: 1;
    min-width: 200px;
}
.process-image{
    
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;

}
.process-buttons{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
    gap: 1em;
}
.process-buttons > *{
    flex: 1;
}
.process-buttons a{
    width: 100%;
    padding: 1em 0;
}


/* Why-Choose-Us*/
.why-choose-us{
    margin: 5em 0;
}

.choose-us-subtitle{
    margin: 2em 0 3em 0;
}
.choose-us-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4em;
}
.choose-us-item{
    flex: 1;
    min-width: 250px;
}

.item-title{
    margin:2em 0;
    font-size: 20px;
}
.choose-us-item img{
    width: 8em;
    height: 8em;
}

/* Rates */
.rates{
    margin: 10em 0;
}
.rates h2{
    margin: 2em 0 1.5 0;
}
.rates p{
    margin: 2em 0; 
}
.rates img{
    width: 100%;
    height:100%;
}

.rates-buttons{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    flex-wrap: wrap;
}
.rates-buttons >* {
    flex: 1;
    padding: auto 0;
}

/*locations*/

.locations{
    margin: 10em 0;
}
.locations h2{
    
    margin: 1.5em 0;
    
}

.location-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4em;
    margin: 3em 0;
}
.location-map{
    flex:1;
    min-width: 200px;
    min-height: 300px;

}
.location-info{
    text-align: left;
    flex:1; 
    min-width: 200px;
}
.location-details iframe{
    height: 100%;
    width: 100%;
}

.location-details h4{
    margin-top: 2em;

}
.location-details ul{
    list-style:circle;
    padding-left: 1em;
    margin-bottom: 2em;
}
.locations h4{
    color: var(--primary-color);
}

.locations a{
    display: block;
    text-align: center;
}


/* About Us */

.about-us  {
     text-align: left;
     margin: 5em 0;
}
.about-us .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4em;
}

.about-us-image{
    flex:1;
    min-width: 200px; 

}
.about-us-info{
    flex: 1;
    min-width: 200px;
}
.about-us img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: block;  */
}
.about-us-subtitle{
    margin: 1em 0;
}
.about-us p{
    margin-bottom: 1.5em;
}
.about-us a{
    display: block;
    text-align: center;
}


/* Contact Us */

.contact{
    margin: 7em 0;
}
.contact-description{
    margin: 2em 0;
}
.contact a{
    display: block;
}

@media (max-width: 1750px) {
    /* Styles for screens 1200px wide or less */
}

@media (max-width: 1000px){
    .hero{
        padding: 10em 0;
    }
}
@media (max-width: 950px){
    .hero{
        padding: 10em 0;
    }

    .process{
        margin: 5em 0;
    }

    .locations{
        margin-top: 5em;
        margin-bottom: 5em;
    }
    .locations h2{
        margin-top: 0;

    }

    .why-choose-us{
        margin-bottom: 0;
    }

    .about-us{
        margin-top: 5em;
    }

}


/* Testimonials */

.testimonials {
margin-top: 8em;
}

.scroll {

    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    margin-left: -20rem;

    padding: 5rem 0;
}


.scroll-element-back {

    position:relative;
    height: 300px;
    width: 700px;
}

.scroll-element-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    /* Position */
    left: 10rem;
    position: absolute;
    /* top: 8rem; */

    /* Size */
    height: 100%;

    z-index: 3;
    border-radius: 3rem;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}


.customer-image img{
    /* object-fit: contain; */
    height: 50px;
    width: 50px;
    border-radius: 2em;
    margin-top: 1em;
}

.customer-review img{
    /* object-fit: cover; */
    height: 20px;
    width: 20px;
    margin-top: 1em;
}

.scroll-element-text p {
    color: rgb(12, 12, 12);
    font-weight: bold;
    padding: 0rem 4rem;
    font-size: 16px;
}

.scroll-element-text h3 {
    color: rgb(34, 34, 34)
}


.scroll-element-back::before {
    /* background: #5f98ec; */
    content: '';
    border-radius: 3rem;


    position: absolute;

    /* Size */
    /* height: 150%; */
    /* width: 110%; */

    /* Display under the main content */
    z-index: 1;
}


